<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <header>
    <div class="container">
        <% include ../partials/topnav.ejs %>
    </div>
  </header>
  <main id="main" class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1>Senaste resultaten för dagens dubbel</h1>
          <div class="react-container"></div>
      </div>
    </div>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>ATG-tjänst by Mohsen</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>
